<launch>

  <node pkg="cmvision" type="cmvision" name="cmvision">
    <remap from="image" to="ardrone/front/image_raw" />
    <param name="color_file" value="/home/bwi/catkin_ws/src/quadcopter_autonomy/ardrone_fly/colors.txt" />
    <param name="mean_shift_on" value="false" />	
    <param name="spatial_radius_pix" value="0" />
    <param name="color_radius_pix" value="0" />
  </node>

  <node pkg="ardrone_autonomy" type="ardrone_driver" name="ardrone_driver" />

  <node pkg="ardrone_fly" type="kalmanBallTrack" name="kalmanBallTrack" output="screen" />

</launch>
